<%= form_with model:book, local:true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control book_title' %>
  </div>
  <div class="form-group">
    <%= f.label :opinion %>
    <%= f.text_area :body, class: 'form-control book_body' %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
    <%# if request.path_info == books_path %>
      <%#= f.submit "Update Book", class: 'btn btn-success' %>
    <%#else%>
      <%#= f.submit "Create Book", class: 'btn btn-success' %>
     <%# end %>
  </div>
<% end %>
